<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="container1">
            <!-- Logo Section -->
            <div class="logo">
                <a href="/">
                    <img src="/img/1.png" alt="Vape Shop Logo" />
                </a>
            </div>

            <h1>Vape Shop</h1>
            <%- include('./nav') %>
        </div>
    </header>
    <main>
        <!-- Main content goes here -->
    </main>
</body>
</html>
