/* app.css */



.logo img {
    height: 100px; /* Adjust height as needed */
    width: 100px;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
    margin: 0 auto;
}




